.certificate-container{
    /* border: 1px solid black;
    margin: 10px; */
    padding: 1px;
    margin-top: 80px;
    background-color: rgba(232, 232, 232, 0.514);
  }
  
  .certificate {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 50px;
    margin: 40px;
  }